$main_color: #fff;
$second_color: #1976d2;

//$main_bg: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
$main_bg: linear-gradient( 135deg, #F05F57 10%, #360940 100%);


$shadow: #eee;

$btn_bg: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
$btn2_bg: linear-gradient( to right, #063ea7 10%, #14a2ce 100%);